.title {
  color: green;
}

.text-with-bg {
  width: 400px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 22px;
  color: cyan;
  background-image: url('./images/bg.jpg');
}